.App-header {
  background-color: #f8f8fa!important;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  font-size: 24px;
}
